@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway',
        sans-serif;
    font-weight: 400;
    perspective: 1000px;
}

:root {
    --top-bottom: 160px;
    --left-right: 48px;
}

.link-effect-first {
    padding: var(--top-bottom) var(--left-right);
    background-color: #0e83cd;
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
}


.first-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px 14px;
    background: #2195de;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgb(255 255 255 / 30%);
    transition: transform 0.2s ease-in-out;
    color: #fff;
    width: 177px;
    height: 24px;
    text-align: center;




}

.top {
    transform: translateY(-26px) translateX(-89px) rotateX(90deg);

}

.first-effect:hover .top {
    transform: translateY(-12px) translateX(-89px) rotateX(0deg);
    animation: color 0.5s;

}

.first-effect:hover .front {
    transform: translate(0) translateX(-89px) rotateX(90deg);



}

@keyframes color {
    0% {
        background-color: #2195de;
    }

    50% {
        background-color: #0965a0;
    }

    100% {
        background-color: #2195de;
    }
}

/* -------------------------------------------- */

.link-effect-second {
    padding: var(--top-bottom) var(--left-right);
    background-color: #CD4436;
    position: relative;
    width: 100%;
}

.second-effect {
    overflow: hidden;
    width: 177px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgb(255 255 255 / 30%);
    transition: transform 0.2s ease-in-out;
    color: #fff;
}

.second-bottom {
    transform: translateY(10px) translateX(-44px);
    font-weight: 700;
}

.second-effect:hover .second-bottom {
    transform: translateY(-10px) translateX(-44px);
}

.second-effect:hover .second-top {
    transform: translateY(-27px) translateX(-44px);
}

/* ----------------------------------------------------- */

.link-effect-third {
    padding: var(--top-bottom) var(--left-right);
    background-color: #435a6b;
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
}

.third-effect {
    border: solid 1px #354856;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 14px;
}

.third-link {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgb(255 255 255 / 30%);

    color: #fff;
}

.third-link-border {
    width: 129px;
    height: 30px;
    border: solid 1px #fff;
    position: absolute;
    top: -10px;
    left: 8px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.third-effect:hover .third-link-border {
    top: 0;
    left: 0;
    opacity: 1;
}

/* ------------------------------------------ */

.link-effect-fourth {
    padding: var(--top-bottom) var(--left-right);
    background-color: #0e83cd;
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
}

.fourth-effect {
    transition: all 2s ease-in-out;
}

.fourth-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 14px;
    color: #fff;

    height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgb(255 255 255 / 30%);
    transition: all 0.5s ease-in-out;
}

.fourth-back {
    color: #354856;
    border-top: solid 1px #354856;
}

.fourth-front {
    /* border-bottom: solid 1px #0e83cd; */
    transform: translateY(-14px) translateX(-63px);
    color: white;
    opacity: 0;
    z-index: 1;
    width: 0px;
    overflow: hidden;
    border-bottom: solid 1px #fff;
}

.fourth-effect:hover .fourth-front {
    width: 127px;
    overflow: hidden;
    color: #fff;
    border-bottom: solid 1px #fff;
    z-index: 1;
    opacity: 1;
}

.link-effect-fiveth {
    padding: var(--top-bottom) var(--left-right);
    background-color: #435a6b;
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
}

.fiveth-link {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgb(255 255 255 / 30%);
    
    flex-direction: row;
    color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    transition: all 2s ease-in-out;
}
.fiveth-link::before{
    content: '';
    width: 2px;
    height: 30px;
    background-color: #697B89;
    display: inline-block; 
    margin: 0 15px ;
    transition: all 2s ease-in-out;
    }
.fiveth-link::after{
    content: '';
    width: 2px;
    height: 30px;
    background-color: #697B89;
    display: inline-block;
    margin: 0 10px;
    transition: all 2s ease-in-out;
}
.fiveth-link:hover{
    flex-direction: column;
    

}
.fiveth-link:hover::after{
    transform: rotate(90deg);
    background-color: #fff;

}
.fiveth-link:hover::before {
    transform:  rotate(90deg);
    background-color: #fff;


}
